/* General */
html {
    /* font-size: 6.25%; */
    font-family: roboto;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: amatic;
    src: url(../fonts/AmaticSC-Regular.ttf)
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-VariableFont_wdth\,wght.ttf)
}

.container {
    background-color: rgb(128, 91, 31);
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

.orange {
    color: rgb(206, 18, 18)
}

button {
    border: none;
    border-radius: 25px !important;
    background-color: rgb(206, 18, 18);
    padding: 12px 35px;
    font-size: 14;
    color: rgb(255, 255, 255);
    font-weight: 450;
}
/** End general */

/*~ header */
/* first */
.first {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    position: absolute;
    top: 0;
}

.icon {
    font-family: roboto;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.icon span {
    color: rgb(206, 18, 18);
}

/* links */
nav .links {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.links a {
    color: rgb(0, 0, 0);
}

/*^ modals */
.dropdown {
    display: none;
    background-color: rgb(255, 255, 255);
    width: 165px;
    font-size: 16px;
    padding: 12px;
}

.dropdown ul {
    padding: 0%;
}

.dropdown li {
    font-size: 16px;
    width: 165px;
    padding: 8px 0;
}

#drop1 {
    position: absolute;
    top: 55px;
}

#drop2 {
    background-color: rgb(255, 255, 255);
    width: 170px;
    position: absolute;
    top: 50px;
    right: 160px;
}

.log {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 40px 75px;
    border: dashed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    right: 230px;
    top: 90px;
}

.log div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.log input {
    padding: 8px 30px;
    background-color: rgb(206, 18, 18);
}

/* welcome */
.welcome {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    padding: 50px 0;
    background-color: rgb(242, 242, 242);
}

/* left */
.welcome .left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.welcome .left div {
    width: 83%;
}

.welcome .left h1 {
    font-family: amatic;
    font-size: 64px;
}

.welcome .left p {
    color: rgb(95, 98, 101);
    font-size: 20px;
}

/* buttons */
.welcome .left #book {
    padding: 13px 35px;
    font-size: 16px;
}

.welcome .left #video {
    background-color: unset;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

/* right */
.welcome .right {
    width: 40%;
}
/** End header */
