/* General */
html {
    font-size: 6.25%;
}

* {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
}

img {
    width: 100%;
}

@font-face {
  font-family: amatic;
  src: url(../fonts/AmaticSC-Regular.tt)
}

@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-VariableFont_wdth\,wght.ttf)
}