/*~ main */
/** general */
article {
    padding: 70px 0;
    margin-bottom: 10px;
    /*! remove */
}

.head {
    padding: 0 10px 40px 10px;
    background: #e69898;
    gap: 15px;
}

.head h2 {
    text-transform: uppercase;
    color: rgb(160, 156, 156);
    font-size: 14px;
    /* font-weight: bold; */
}

.head p {
    font-family: amatic;
    font-size: 48px;
}

#nav_b {
    position: absolute;
    left: 47.5%;
    bottom: 100px;
}

#nav_b button {
    padding: 8px !important;
    margin: 2px;
    ;
    background-color: rgb(211, 211, 212);
}

#nav_b button:focus {
    background-color: rgb(206, 18, 18);
}

/* End general */

/** about */
#about .left {
    width: 55%;
    gap: 30px;
}

#about .left .left_dawon {
    width: 100%;
    border: 5px solid rgb(0, 0, 0);
    padding: 20px;
    font-weight: bold;
}

.left_dawon p {
    margin-top: 10px;
    font-size: 28px;
}

#about .right {
    width: 42%;
    font-size: 17px;
}

#about .right p:first-child {
    color: #949698;
    font-style: italic;
}

#about .right ul {
    padding: 0px;
}

#about .right ul li {
    padding: 8px;
    font-weight: 500;
}

.bi-check-circle-fill {
    margin-right: 8px;
}

#about .right .img {
    background-color: #e69898;
    width: 100%;
    height: 350px;
}

/* about-2 */
.a-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: rgb(242, 242, 242);
    margin-top: 70px;
    padding: 70px 0 70px 0;
}

.a_c {
    gap: 25px;
    letter-spacing: .01px;
}

.a-2_o {
    background-color: rgb(206, 18, 18);
    width: 33%;
    color: rgb(255, 255, 255);
    padding: 30px;
    gap: 20px;
}

.a-2_o h3 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 30px;
}

.a-2_o p {
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
}

#Learn {
    background-color: rgba(255, 255, 255, 20%);
    font-size: 17px;
}

#Learn:hover {
    color: rgb(206, 18, 18);
    background-color: rgba(255, 255, 255, 1);
}

.a-2_w {
    background-color: #fff;
    width: 20%;
    padding: 40px 20px;
    text-align: center;
    gap: 25px;
}

.a-2_w div {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(253, 242, 242);
    color: rgb(206, 18, 18);
    font-size: 30px;
    margin-bottom: 10px;
}

.a-2_w:hover div {
    background-color: rgb(206, 18, 18);
    color: rgb(255, 255, 255);
}

.a-2_w h4 {
    font-size: 20px;
}

/* about-3 */
.a-3 {
    background-image: url(../images/stats-bg.jpg);
    width: 100vw;
    /*todo: position */
}

.opa {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.nums {
    background: unset;
    flex-direction: row;
    gap: 150px;
    padding: 150px;
}

.num {
    background: unset;
    text-align: center;
    color: rgba(198, 194, 193, 0.849);
    font-weight: bold;
}

.num span {
    font-size: 48px;
    color: rgb(255, 255, 255);
}



/** menu */
.m-c {
    justify-content: center;
    flex-direction: column;
}

.menu_nav {
    flex-direction: row;
    padding: 0%;
    font-size: 18px;
    font-weight: bold;
    gap: 35px;
}

.menu_nav li {
    padding: 5px;
    border-bottom: 2.5px solid rgb(214, 215, 216);
}

.menu_nav li:hover,
.menu_nav li:first-child {
    border-bottom: 2.5px solid rgb(206, 18, 18);
}


/* times */
.click {
    display: none;
    /* border-bottom: 2.5px solid rgb(214, 215, 216); */
}

.times .head {
    gap: 0px;
}

.times .head h2 {
    color: rgb(106, 109, 110);
}

.meals {
    width: 75vw;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 70px 100px;
}

.meal {
    width: 23%;
    text-align: center;
}

.des {
    margin-top: 10px;
}

.des p {
    margin: 10px;
}

.price {
    font-size: 24px;
    color: rgb(206, 18, 18);
    font-weight: bold;
}

/** testimonial */
.testimonial {
    position: relative;
}

#t-caroucel {
    background-color: rgb(242, 242, 242);
    width: 100vw;
    padding: 100px;
    display: flex;
    justify-content: space-evenly;
}

#t_view {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 200px;
    overflow: hidden;
}

.details {
    flex-direction: row;
    justify-content: center;
    min-width: 100%;
    height: 200px;
    border-left: 3px solid rgb(206, 18, 18);
    padding-left: 20px;
    background: unset;
    transform: translateX(1290px);
}

.details .info {
    width: 75%;
}

.info p {
    font-family: roboto;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
    width: 90%;
    margin: 0 0 16px 0;
}

.info h3 {
    font-family: amatic;
    font-size: 20px;
    margin-bottom: 5px;
}

.info h4 {
    font-family: amatic;
    font-size: 14px;
}

.info .bi-quote {
    rotate: 90deg;
    color: rgb(224, 130, 130);
    font-size: 30px;
}

.info .stars i {
    color: rgb(255, 193, 7);
}

.details .img {
    width: 170px;
    border-radius: 50%;
}

.details .img img {
    border-radius: 50%;
}



/** event */
#event {
    width: 100%;
    overflow: scroll;
    position: relative;
}

#e_caroucel {
    width: 100%;
    overflow: hidden;
}

#e_view {
    flex-direction: row;
    width: 134vw;
}

.event {
    color: rgb(255, 255, 255);
    margin: 0 1.5px 0 1.5px;
    width: 60%;
}

.event .info {
    padding: 0 0 20px 30px;
}

.event h3 {
    font-size: 24px;
    font-weight: 700;
}

.event .ticket {
    font-size: 32px;
    font-weight: 700;
    width: fit-content;
    border-bottom: 2px solid rgb(206, 18, 18);
    margin-bottom: 15px;
}

.event p {
    font-size: 16px;
    line-height: 24px;
    width: 90%;
}

#event1 {
    background-image: url(../images/events-1.jpg);
}

#event2 {
    background-image: url(../images/events-2.jpg);
}

#event3 {
    background-image: url(../images/events-3.jpg);
}

#event4 {
    background-image: url(../images/events-4.jpg);
}

#event .opa {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 450px 0 1px 0;
}

#event #nav_b {
    bottom: 0px;
}


/** chefs */
#chefs .ch-c {
    gap: 20px;
}

#chef1 {
    background-image: url(../images/chefs/chefs-1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

#chef2 {
    background-image: url(../images/chefs/chefs-2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

#chef3 {
    background-image: url(../images/chefs/chefs-3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.ch_details {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 20px;
    position: relative;
}

.ch_details:hover .socials {
    display: flex;
}

.ch_details .socials {
    display: none;
    background-color: #ffffffbc;
    font-size: 20px;
    padding: 5px;
    position: absolute;
    top: 20px;
    right: 10px;
}

.ch_info {
    margin-top: 400px;
    padding: 10px;
    background: #fff;
    text-align: center;
    width: 430px;
}

.ch_info h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.ch_info h6 {
    font-size: 16;
    color: grey;
}

.ch_info p {
    font-size: 14px;
}
